[Unit]
Description=GR6 oxts-nav
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/share/GR6-v2
ExecStart=/home/pi/share/GR6-v2/venv/bin/python3 oxts-nav/app.py
Restart=no

[Install]
WantedBy=multi-user.target
